<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Find a Car!</title>
</head>

<body>
    <div class='container'>
        <h1>Your Dealership</h1>
        <form action='results'>
            <div class='form-group'>
                <label for='price'>Enter Maximum Price:</label>
                <input id='price' name='price' class='form-control' type='number'>
            </div>
            <div class='form-group'>
                <label for='miles'>Enter Maximum Mileage:</label>
                <input id='miles' name='miles' class='form-control' type='number'>
            </div>
            <button type='submit' class='btn-success'>Submit</button>
        </form>
        {% for car in cars %}
            <div class="row">
                <div class="col-md-6">
                    <p> {{ car.getModel }} </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="{{ car.getPhoto }}">
                </div>
            </div>
                <p>${{ car.getPrice }}</p>
                <p>{{ car.getMiles }} miles</p>
        {% endfor %}
        {% if cars is empty %}
            <p> No vehicles match your search. </p>
        {% endif %}
        </body>
        </html>
